@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Forzamos que siempre sea fondo claro para el reporte escolar */
body {
  background: white;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}